<!doctype html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8" />
    <script
      src="https://unpkg.com/htmx.org@1.8.6"
      integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
      crossorigin="anonymous"
    ></script>
    <title>Silkenweb Example: Htmx using Axum</title>
  </head>

  <body>
    <form hx-post="/rating" hx-target="#rating-response">
      <div
        id="rating-response"
        hx-get="/load"
        hx-trigger="load"
        hx-target="this"
      ></div>
      <label>
        <input type="radio" name="rating" value="Good" />
        Good
      </label>
      <label>
        <input type="radio" name="rating" value="TooSoon" />
        Too Soon
      </label>
      <label>
        <input type="radio" name="rating" value="Bad" />
        Bad
      </label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
